%table.table.table-striped
  %thead
    %tr
      %th Application
      %th Version
  %tbody
    %tr.app_info
      %td= report.app_name
      %td= report.version

%h3 Builds
%table.table.table-striped
  %thead
    %tr
      %th Source
      %th Status
  %tbody
    - report.builds.each do |build|
      %tr.build
        %td= build.source
        %td= build.status
