%h1 Feature for review

%h3
  UAT environment
  %strong.uat_url
    = @uat_url

%table.table.table-striped
  %thead
    %tr
      %th Application
      %th Version
  %tbody
    - @apps.each do |app_name, app_version|
      %tr.app_info
        %td= app_name
        %td= app_version
