%h1 Feature for review

%h3
  UAT environment
  %strong.uat_url
    = @uat_url

- @reports.each do |report|
  %div{class: report.app_name}
    = render partial: 'feature_review', locals: { report: report }
