@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-bottom: 2em;
  font-family: verdana, sans-serif;
}


.panel {
  margin-top: 10px;

  h2 {
    font-size: 22px;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 26px;
  }

  .glyphicon {
    padding-right: 8px;
  }
}


.qa-submission {
  .qa-accept,
  .qa-reject {
    width: 15%;
  }

  .qa-name-field {
    width: 50%;
  }
}