@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-editable";

body {
  padding-bottom: 2em;
  font-family: verdana, sans-serif;
}

h1.title {
  margin-bottom: 32px;
}

.time {
  margin-top: -10px;
  font-size: 16px;
}

.panel {
  margin-top: 10px;

  h2 {
    font-size: 22px;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 26px;
  }

  .glyphicon {
    padding-right: 8px;
  }
}

.qa-submission {
  .qa-accept,
  .qa-reject {
    margin-bottom: 12px;
  }
}

.glyphicon {
  font-size: 0.8em;
}

.icon-success {
  @extend .glyphicon;
  @extend .glyphicon-ok;
}

.icon-danger {
  @extend .glyphicon;
  @extend .glyphicon-remove;
}

.icon-warning {
  @extend .glyphicon;
  @extend .glyphicon-alert;
}

#new_token {
  margin-bottom: 15px;

  label, select, input { margin: 5px; }
}
