@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-bottom: 2em;
  font-family: verdana, sans-serif;
}

.panel {
  margin-top: 10px;

  h2 {
    font-size: 22px;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 26px;
  }

  .glyphicon {
    padding-right: 8px;
  }
}

.qa-submission {
  .qa-accept,
  .qa-reject {
    margin-bottom: 12px;
  }
}

#search-form {
  margin: 40px 0;
}

.glyphicon {
  font-size: 0.8em;
}

.icon-lock {
  @extend .glyphicon;
  @extend .glyphicon-lock;
  color: #AAA;
}

.icon-success {
  @extend .glyphicon;
  @extend .glyphicon-ok;
}

.icon-danger {
  @extend .glyphicon;
  @extend .glyphicon-remove;
}

.icon-warning {
  @extend .glyphicon;
  @extend .glyphicon-alert;
}
