%h1 Releases for #{@app_name}

%table.table.table-striped
  %tr
    %th id
    %th date
    %th message
  - @commits.each do |commit|
    %tr.release
      %td= commit.id
      %td= commit.time
      %td= commit.subject_line

